{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Registre-se{% endblock %}

{% block content %}
<div class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="{% url 'pages:home' %}"><b>CODE</b>GEASS</a>
        </div>
        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Registrar um novo usuário</p>
                <form method="post">
                    {% csrf_token %}

                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:'form-control' }}
                        {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                </form>
                <a href="{% url 'account_login' %}" class="text-center">Já possuo uma conta</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
</div>
{% endblock %}